<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <ma-navigation class="fixing"></ma-navigation>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <ma-sidebar></ma-sidebar>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <breadcrumb></breadcrumb>
      <div class="row">
        <!-- .col -->
        <div class="col-md-4 col-lg-4 col-xlg-4" *ngFor="let player of players; let i = index">
          <div routerLink="/players/{{player.id}}" class="card card-body">
            <div class="row">
              <div class="col-md-4 col-lg-3 text-center">
                <a><img src="../../../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
              </div>
              <div class="col-md-8 col-lg-9">
                <h3 class="box-title m-b-0">{{player.name}}</h3> <small>Web Designer</small>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2017 Madridpatina.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
